body {
  margin: 0;
}
.header {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  margin: 0px 0px 90px 0px;
  width: 100%;
  z-index: 4;
}
.header-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  font-family: abril-display, serif;
  font-weight: 300;
  font-style: light;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  z-index: 4;
}
ul {
  display: flex;
  margin: 20px;
  list-style-type: none;
}

li {
  display: flex;
  text-align: center;
  font-size: 12px;
  margin: 0px 10px 0px 10px;
}

li:first-child {
  display: flex-start;
  position: absolute;
  top: 12px;
  left: 2%;
}
.header-container a {
  text-decoration: none;
  color: white;
}
.header-container a:hover {
  color: #e39c88;
}
.header-container a:after {
  color: #e39c88;
  font-weight: 600;
}
.entire-page {
  position: relative;
  top: -165px;
}
.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.hero-text {
  position: relative;
  top: 15%;
  text-align: center;
  color: white;
  z-index: 1;
  margin: 20px;
}
.section h1 {
  font-family: abril-display, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 4em;
  z-index: 1;
}
.section h3 {
  position: relative;
  top: 30px;
  text-align: center;
  color: white;
  font-size: 4em;
  z-index: 1;
  margin: 20px;
  padding: 15px;
}
.hero-text svg:hover {
  transform: translatey(20px);
  color: #e39c88;
}
.hero-text svg:visited {
  color: #e39c88;
}

.hero-text a:active {
  transform: translatey(20px);
  color: #e39c88;
}

.hero-text a:visited {
  transform: translatey(20px);
  color: #e39c88;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 70%;
  width: 100%;
  padding: 20px 0px 60px 0px;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: gray;
  width: 100%;
  height: 100vh;
  opacity: 0.3;
}

.text-section {
  margin: 0px;
}
.title {
  margin: 50px 0px;
}
.title h2 {
  margin: 0px 0px;
  text-align: center;
  font-family: abril-display, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
}
.title h3 {
  text-align: center;
  font-family: abril-display, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
}
.title p {
  margin: -12px;
  text-align: center;
  font-family: abril-display, serif;
  font-weight: 400;
  font-style: italic;
}
.middle-section {
  margin: 50px;
  display: flex;
  /*border: 3px green solid;*/
}
.photo-container {
  display: flex;
  /*border: 4px red solid;*/
}

.photo {
  display: flex;
  position: relative;
  text-align: center;
  color: white;
  /*border: 2px greenyellow solid;*/
  margin: 28px;
}
/*.photo:nth-last-child {
  margin-right: 0px;
}*/
.photo-color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}
.photo-title {
  position: absolute;
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  font-family: abril-text, serif;
  font-weight: 400;
  font-style: normal;
}
.photo-title a {
  text-decoration: none;
  color: white;
}
.photo-title a:hover {
  color: #e39c88;
}

.subscribe-section {
  margin: 0px;
}
.subscribe-section h2 {
  margin: 0px 20px 0px 20px;
  text-align: center;
  font-family: abril-text, serif;
  font-weight: 400;
  font-style: normal;
}

hr {
  color: lightgray;
}
.subscribe-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-text {
  margin: 0px 20px 0px 20px;
  font-family: abril-text, serif;
  font-weight: 400;
  font-style: normal;
}
.form-inline {
  background-color: #fbf9f8;
  padding: 10px 10px;
}
#email {
  border: none;
  background-color: #fbf9f8;
  margin-right: 20px;
  font-family: abril-text, serif;
  font-weight: 400;
  font-style: normal;
}
button {
  border: none;
  background-color: #f3f3f3;
  text-decoration: none;
  font-family: abril-text, serif;
  font-weight: 400;
  font-style: normal;
}
.about-section {
  font-family: abril-display, serif;
  font-weight: 600;
  font-style: italic;
}
.about-title p {
  text-align: center;
  margin: 40px 0px 0px 0px;
  font-size: 24px;
}
.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 60px;
  font-family: abril-text, serif;
  font-weight: 400;
  font-style: normal;
}
.ethically {
  text-align: center;
  margin: 0px 20px;
}
.ethically-copy {
  margin: 0px 20px;
}
